/*Remove Margins To Leave No Space & Make the scroll behavior to smooth*/
body, h2{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*The End Of line 2 till line 8*/


/*Design The Fixed Header*/

.fixedHeader {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #EDE6E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin-left: 20px;
}

ul {
    display: flex;
    gap: 40px;
    margin-right: 20px;
}

nav li {
    list-style: none;
}

a {
  font-family: "Old Standard TT", serif;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

li a:hover {
    background-color: #f5e0e0;
    padding: 10px;
}

li a:active {
    background-color: #E1D3D3;
}

/*The End of line 14 til line 53*/


/*Designing Section One's Avatar Images & Short Description*/
.sectionOne {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
    background: linear-gradient(#E1D3D3,#e3d5ca);
}
.box {
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}
.text {
    width: 450px;
    font-size: 1.5em;
    background-color: hsla(0, 0%, 0%, 0.1);
    padding: 20px;
}

.sectionOne button {
    width: 190px;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 10px;
}

.sectionOne button:active {
    background-color: transparent;
    color: white;
}

.sectionOne a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*The End Of Section One*/

/*Section Two*/

.sectionTwo {
    height: 90vh;
    background-color: #e3d5ca;
}

.sectionTwo h2 {
    font-size: 2rem;
}

.sectionTwo p {
    font-size: 1.2rem;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    width: 100%;
    height: 500px;
}
.aboutContentContainer {
    width: 400px;
    margin-top: 300px;
}

.aboutContent {
    width: 400px;
}

.btn {
    width: 150px;
}

.aboutImage img {
    width: 300px;
    height: 300px;
    margin-top: 300px;
    border-radius: 10px;
}

/*The End Of Section Two*/


/*Section Three*/

.sectionThree {
    height: 100vh;
    background: linear-gradient(#e3d5ca, #FEF7C0);
}

.cardContainer {
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    padding: 20px;
    font-size: 1.5rem;
}

.card {
    margin-top: 200px;
    width: 350px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*The End Of Section Three*/

/*Section Four*/

.sectionFour {
    height: 80vh;
    background: linear-gradient(#FEF7C0, lightblue);
}

.socialSubtitle {
    font-size: 1.2rem;
    text-align: center;
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.socialContainer .btn {
    width: 200px;
    height: 150px;
    background-color: white;
    border: 1px solid lightgrey;
}

/*The End Of Section Four*/

/* Responsive Layout */

@media screen and (max-width: 768px) {
.aboutImage img {
    display: none;
}

.box {
    display: none;
}


}
@media screen and (max-width: 980px) {
.aboutImage img {
    display: none;
}
.cardContainer {
    flex-direction: column;
}
.aboutContainer {
    display: column;
    align-items: center;
    justify-content: center;
}

.sectionThree {
    height: 350%;
}
}

@media screen and (max-width: 767px) {
    nav {
        display: none;
    }
    .aboutContentContainer {
        margin-left: 200px;
    }
}


/*The End Of Responsive Layout*/